@{
    ViewData["Title"] = "Home Page";
}

<style>

    * {
    background-color:bisque;
    }
    
    </style>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="container">
        <div class="row">
            <div class="col align-self-start">
              <h2>  Processing Times</h2>
                <img src="https://m.media-amazon.com/images/I/71pNPNzgmBL._SL1200_.jpg" style="height:300px; width:300px;">
                Our turnaround time at the moment is 1-2 weeks from the date the order is placed. Please get in touch if your order is urgent, we may be able to assist with a small additional fee.
            </div>
            <div class="col align-self-center">
                <h2>  Delivery </h2>
                <img src="https://www.champerspartyshop.co.nz/wp-content/uploads/Helium-Balloon-Decorations-Auckland-05-1.jpg" style="height:300px; width:300px;">

                We use tracked NZ Post for ourstandard orders. They estimate domestic delivery within 3-5 business days of posting. We also offer courier delivery for an additional fee, this service is typically 1-2 business days.
            </div>
            <div class="col align-self-end">
                We specialise in all occasions and events, whether you need a beautiful gift for a wedding including a personalised chopping board, bridal party hangers, groomsmen cufflinks and so much more. Or maybe you as the happy couple want to gift your guests a special memento from the day whether its a wedding favour or a personalised wedding USB with all your photos and videos from your magical day.
            </div>
        </div>
    </div>
</div>
